root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
tab_width = 1

[**.js]
tab_width = 1

[**.coffee]
tab_width = 1

[**.cson]
tab_width = 1

[**.json]
tab_width = 1

[**rc]
tab_width = 1

[**php]
tab_width = 1
